.head-container {
  position: fixed;
  /*  background-color: var(--secondary); */
  width: 100%;
  bottom: 0;
}
.head-container img {
  object-fit: contain;
  padding: 12px;
  height: 130px;
  padding-bottom: 8px;
  filter: brightness(0) invert(1);
}
.head-container img:hover {
  filter: none;
  transition-duration: 350ms;
}

.logo-container {
  position: fixed;
  left: 16px;
  background-color: white;
}
.logo-container img {
  object-fit: contain;
  height: 80px;
  padding: 8px;
  filter: invert(1);
}

.sidetalk-container {
  position: absolute;
  right: -20px;
  bottom: 332px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
